.cms {
	.ui-widget-content {
		background-color: #eef2f3;
	}
	
	.ui-tabs {
		padding: 0
	}
	
	.ui-widget-content {
		border: 0;
	}
	
	.cms-content-header .ui-widget-content {
		background: none;
	}
	
	.cms-content-form .ui-widget-content {
		background-color: #eef2f3;
	}
	
	.ui-widget-header {
		background: none;
		border: 0;
	}
}